body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

#container {
    display:flex;
    justify-content: space-between;
    background-color: aqua;
    height: 100%;
}
    nav {
        background-color: blue;
        flex-grow: 1;
        height: 100vh;
        width: 20vh;
    }
    #contenu {
        background-color: brown;
        flex-grow: 5;
        
    }
    #container #footer {
        background-color: chartreuse;
        height: 20vh;
        align-self: flex-end;
        width: 100vh;
    }
    #container #article {
        background-color: chocolate;
    }
    #container #aside {
        background-color: crimson;
        
    }